footer.footer {
  padding-top: 2rem;
  background: $secondary;
  /*  color: $white; */
  /*   padding-bottom: 2rem; */
  .social-link {
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2.3rem;
    font-size: 1rem;
    background-color: $primary;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: darken($primary, 10%);
      text-decoration: none;
    }
  }
  ul li,
  ol li {
    list-style: none;

    font-weight: 400;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $gray-800;
  }

  p {
    color: $gray-800;
  }
}

#copyright {
  background: $secondary;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
