<!-- Custom scripts  -->
<!-- <script src="{{ site.baseurl }}assets/js/shopping.js"></script> -->

<header class="ganador d-flex">
    <div class="container text-center my-auto">
        {% for product in site.products %}
        <div class="product-container">
            {% include product-styles.html %}
            <div class="product-details" id="add">

                <h2 class="mb-1">Por un mundo sin COVID-19</h2>
                <p>Presentamos el diseño ganador en el reto <a class="js-scroll-trigger"
                        href="#yomecorono">#YoMeCorono</a> con <a class="js-scroll-trigger" href="#t-share"><span
                            class="tshare">T-share</span></a>
                    <br />por <a class="js-scroll-trigger"
                    href="#ganador"><span class="tshare">{{ product.designer }}</span></a></p>
                <h4>{{ product.name }}</h4>
                {{ product.description_markdown | markdownify }}

                <!-- Progress bar -->
                <p style="width:80%" data-value="75/100">Quedan X días</p>
                <progress max="100" value="75" class="css3">
                    <!-- Browsers that support HTML5 progress element will ignore the html inside `progress` element. Whereas older browsers will ignore the `progress` element and instead render the html inside it. -->
                    <div class="progress-bar">
                        <span style="width: 80%">80%</span>
                    </div>
                </progress>

                <h4>€{{ product.price }}</h4>
                <h6 class="dark">IVA incluido más gastos de envío</h6>
                <!-- <div class="button">{% include snipcart-button.html product=page %}</div> -->
                <em>
                    <p class="dark mb-0">Recuerda que con tu compra estarás ayudando a reducir la transmisión
                        comunitaria del COVID-19.</p>
                </em>
                <div class="shopping-cart row">
                    <!-- Product #1 -->
                    <div class="item">
                        <div class="description">
                            <select data-header="Selecciona la talla" class="selectpicker show-tick"
                                title="Selecciona la talla..." data-style="btn-primary">
                                <option hidden selected>Selecciona la talla</option>
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                                <option>Extra Large</option>
                            </select>
                        </div>
                        <div class="quantity">
                            <button class="plus-btn btn-primary" type="button" name="button">
                                <i class="fas fa-plus"></i>
                            </button>
                            <input type="text" name="name" value="1">
                            <button class="minus-btn btn-primary" type="button" name="button">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <div class="total-price">Total: <span>€{{ product.price }}</span></div>
                    </div>
                </div>
                <a href="#aceptar" class="btn btn-dark js-scroll-trigger comprar"><i class="fas fa-shopping-cart"></i>
                    Comprar</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="overlay"></div>
</header>