<header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Súmate al reto por un mundo sin COVID-19</h1>
      <h2 class="mx-auto mb-3"><a class="js-scroll-trigger" href="#yomecorono">#YoMeCorono</a> <br />con <a class="js-scroll-trigger"
        href="#t-share">T-share</a> </h2> 
      <h3 class="mx-auto mb-3">
        y diseña una camiseta para que donemos juntos a esta causa.
      </h3>
      <a class="btn btn-primary btn-xl mr-4 js-scroll-trigger" href="#yomecorono">Quiero saber más</a>
      <a href="#aceptar" class="btn btn-xl btn-dark js-scroll-trigger">Acepto el reto!</a>
    </div>
    <div class="overlay"></div>
  </header>