
    <div class="container">
        <a class="logo js-scroll-trigger" href="#page-top"><img src="{{site.baseurl}}assets/img/logo.png"></a>
        <!-- <div id="menu">
        <ul>
          <li> <a href="#/features/01-que-es">Qué es?</a> </li>
          <li> <a href="#/features/02-ciclo">Ciclo</a> </li>
          <li> <a href="#/features/02.1-ciclo-ejemplo">Ejemplo</a> </li>
          <li> <a href="#/features/03-leyes">Leyes</a> </li>
          <li> <a href="#/features/04-first">F.I.R.S.T</a> </li>
          <li> <a href="#/features/05-ventajas">Ventajas</a> </li>
          <li> <a href="#/features/06-desventajas">Desventajas</a> </li>
          <li> <a href="#/features/07-herramientas">Herramientas</a> </li>
          <li> <a href="#/features/08-smells">Test Smells</a> </li>
        </ul>
      </div> -->
    </div>