<a class="menu-toggle rounded" href="#">
  <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a class="js-scroll-trigger"
        href="{% unless page.url == '/index.html' %}{{ site.baseurl }}{% endunless %}#page-top">Inicio</a>
    </li>
    {% for section in site.sections %}
    <li class="sidebar-nav-item">
      <a class="js-scroll-trigger"
        href="{% unless page.url == '/index.html' %}{{ site.baseurl }}{% endunless %}#{{ section.name }}">{{ section.title }}</a>
    </li>
    {% endfor %}
    <li class="sidebar-nav-item">
      <a href="{{site.baseurl}}bases-del-reto">Bases del reto</a>
    </li>
    <li class="sidebar-nav-item">
      <a href="{{site.blog}}" target="_blank" rel="noopener noreferrer">Nuestro Blog</a>
    </li>
  </ul>
</nav>