<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">

  <!-- Logo -->
  {% include logo.html %}

  <!-- Navigation -->
  {% include navigation.html %}

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Súmate a la carrera por un mundo sin COVID-19</h1>
      <h3 class="mb-5">
        <em>Acepta el reto <a class="js-scroll-trigger" href="#yomecorono">#YoMeCorono</a> con T-share </em> <br />
        y diseña una camiseta para que donemos juntos a esta causa.
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#yomecorono">Quiero saber más</a>
      <a href="#aceptar" class="btn btn-xl btn-dark js-scroll-trigger">Acepto el reto!</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- yomecorono -->
  <section class="content-section bg-light rightbg" id="yomecorono">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>#YoMeCorono</h2>
          <p class="lead mb-5">La Fundación Lucha contra el Sida ha creado una campaña llamada <a target="_blank"
              rel="noopener noreferrer" href="https://www.yomecorono.com/">#YoMeCorono</a> y nos
            invitan a todos a colaborar económicamente en su investigación. Su objetivo
            principal es reducir la transmisión comunitaria del COVID-19 y así frenar la curva de contagio.
          </p>
          <p class="lead mb-5">En T-share creemos que pronto podremos tener un mundo sin COVID-19 y que todos
            podemos contribuir a que eso suceda. Por ello, hemos pensado en ti para que nos ayudes a crear una camiseta
            representativa con la que podamos juntos donar a este movimiento y ayudar a frenar esta
            pandemia!.</p>
          <a class="btn btn-dark btn-xl js-scroll-trigger" href="#participar">Quiero participar</a>
        </div>
      </div>
    </div>
  </section>

  <!-- Participar -->
  <section class="content-section bg-primary text-white text-center" id="participar">
    <div class="container">
      <div class="content-section-heading">
        <h3 class="text-secondary mb-0">Reglas de juego</h3>
        <h2 class="mb-5">Qué hacer para participar en el reto</h2>
      </div>
      <div class="row">
        <div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-screen-smartphone"></i>
          </span>
          <h4>
            <strong>Lee las bases del reto</strong>
          </h4>
          <p class="text-faded mb-0">Looks great on any screen size!</p>
        </div>
        <div class="col-md-4 mb-5 mb-lg-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-pencil"></i>
          </span>
          <h4>
            <strong>Inspírate</strong>
          </h4>
          <p class="text-faded mb-0">Freshly redesigned for Bootstrap 4.</p>
        </div>
        <div class="col-md-4 mb-5 mb-md-0">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-like"></i>
          </span>
          <h4>
            <strong>Envíanos tu diseño</strong>
          </h4>
          <p class="text-faded mb-0">Millions of users
            <i class="fas fa-heart"></i>
            Start Bootstrap!</p>
        </div>
        <!-- <div class="col-lg-3 col-md-6">
          <span class="service-icon rounded-circle mx-auto mb-3">
            <i class="icon-mustache"></i>
          </span>
          <h4>
            <strong>Question</strong>
          </h4>
          <p class="text-faded mb-0">I mustache you a question...</p>
        </div> -->
      </div>
    </div>
  </section>

  <!-- Aceptar -->
  <section class="callout" id="aceptar">
    <div class="container text-center my-auto">
      <div class="content-section-heading">
        <h2 class="mx-auto mb-5">¡Acepta el reto <a target="_blank" rel="noopener noreferrer"
            href="https://www.yomecorono.com/">#YoMeCorono</a> con
          <em>T-share!</em></h2>
      </div>
      <h3 class="mb-5">
        <em>Atrévete y ayudemos juntos a frenar esta pandemia! estamos deseando descubrir ese talento que llevas dentro
          y poder contribuir en la mejora de la
          crisis sanitaria que estamos viviendo a raíz del COVID-19.
        </em>
      </h3>
      <a class="btn btn-primary btn-xl" href="#">Acepto el reto!</a>
    </div>
    <div class="overlay"></div>
  </section>

  <!-- Portfolio -->
  <!-- <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0">Portfolio</h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Stationary</h2>
                <p class="mb-0">A yellow pencil with envelopes on a clean, blue backdrop!</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}assets/img/portfolio-1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Ice Cream</h2>
                <p class="mb-0">A dark blue background with a colored pencil, a clip, and a tiny ice cream cone!</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}assets/img/portfolio-2.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Strawberries</h2>
                <p class="mb-0">Strawberries are such a tasty snack, especially with a little sugar on top!</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}assets/img/portfolio-3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Workspace</h2>
                <p class="mb-0">A yellow workspace with some scissors, pencils, and other objects.</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}assets/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section> -->

  <!-- T-share -->
  <section class="content-section bg-primary text-white" id="t-share">
    <div class="container text-center">
      <div class="content-section-heading">
        <h2 class="mb-5">Somos T-share</h2>
        <h3 class="text-secondary mb-0">Donde vestir es compartir</h3><br />
      </div>
      <div class="col-lg-10 mx-auto">
        <p class="lead mb-5">T-share nace para convertirse en una tienda online de camisetas de diseño ecológicas, con
          fines solidarios.
          Somos una organización 100% digital, fundada en 2020, con la intención de crear un espacio donde la
          creatividad y la solidaridad comparten un mismo fin, donde las personas podemos ser felices haciendo lo que
          nos gusta y ayudando a los demás.
          Desde T-share creemos que un mundo mejor es posible, más justo con los que más lo necesitan.
        </p>
      </div>
      <a href="https://tshare.digitalpress.blog/" target="_blank" rel="noopener noreferrer"
        class="btn btn-xl btn-light mr-4">Visita nuestro blog</a>
    </div>
  </section>

  <!-- Map -->
  <!-- <section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
      src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
    <br />
    <small>
      <a
        href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
    </small>
  </section> -->

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="#">
            <i class="icon-social-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="#">
            <i class="icon-social-github"></i>
          </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; T-share 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ site.baseurl }}assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ site.baseurl }}assets/js/stylish-portfolio.min.js"></script>

</body>

</html>